<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Flight Paths using Edge Bundling</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://unpkg.com/topojson@3"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/d3-delaunay@4"></script>
  <script src="https://unpkg.com/d3-geo-voronoi@1"></script>
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css"
        rel="stylesheet">
  <script
    src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body data-new-gr-c-s-loaded="true">
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-8 pl-5">
      <div class="l_col h-80 d-inline-block">
        <!-- must be 960x600 to match topojson us atlas files -->
        <svg width="960px" height="600px"><!-- width="960" height="600"-->
          <!-- must be in this order for drawing -->
          <g id="basemap"></g>
          <g id="flights"></g>
          <g id="airports"></g>
          <g id="voronoi"></g>
          <text id="tooltip" style="display: none;"></text>
        </svg>
      </div>
      <div class="l_col w-100 h-20 d-inline-block">
        <div id="app1" class="d-flex justify-content-center my-4">
          <h5 class='p-3'>Year: </h5>
          <input type="range" v-model="currentYear" class="custom-range" id="customRange" min="2009" max="2018">
          <span class="font-weight-bold text-primary ml-2 valueSpan">{{currentYear}}</span>
          <h5 class='p-3 time'>Time: </h5>
          <input type="range" v-model="currentTime" class="custom-range" id="customRange" min="0" max="47">
          <span class="font-weight-bold text-primary ml-2 valueSpan">{{(currentTime/2).toString()}}</span>
        </div>
      </div>
    </div>

    <div id="app2" class="col-3 text-center pr-5">
      <div class="r_col h-20 p-2" id='display'>
        <form action="" method="get">
          <h5>Choose display layers:</h5>
          <label class='p-1'><input class='p-1' name="D" type="checkbox" v-model="isLineShow" value=""/>Line </label>
          <label class='p-1'><input class='p-1' name="D" type="checkbox" v-model="isAirplaneShow" value=""/>Airplane
          </label>
          <label class='p-1'><input class='p-1' name="D" type="checkbox" v-model="isAirportShow" value=""/>Airport
          </label>
        </form>
      </div>

      <div class="r_col h-40  text-center p-2">
        <h5>Select filter for airport:</h5>
        <div class='h-30 w-100 p-1 block bd center-block'>
          <input
            class="center-block"
            type="checkbox"
            data-toggle="switchbutton"
            data-onlabel="Departure"
            data-offlabel="Arrival"
            data-onstyle="success"
            data-offstyle="info"
            v-model="arrivalShow"
          />
        </div>
        <div class='h-70 w-100 p-2 block bd text-center'>
          <label class="p-1"><input class="radio" type="radio" name="isDelayCount" value="0" v-model="isDelayCount">
            Delay Count</label>
          <label class="p-1"><input class="radio" type="radio" name="isDelayCount" value="1" v-model="isDelayCount">
            Delay Time</label>
        </div>
      </div>
      
      <div class="r_col h-40 p-2">
        <h5>Select filter for route:</h5>
        Departure Airport<select v-model="selectedDepartureAirport" name="deptAirport" id="deptAirport">
        <option
          v-for="item in airports"
          :value="item.iata"
        >
          {{item.name}}
        </option>
      </select>
        Arrival Airport<select v-model="selectedArrivalAirport" name="deptAirport" id="deptAirport">
        <option
          v-for="item in airports"
          :value="item.iata"
        >
          {{item.name}}
        </option>
      </select>
        <div class="dropdown  m-2">
          <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">Airplane Company
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">Java</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="script.js"></script>
<script>
var app1 = {
  data () {
    return {
      currentYearData: 2018,
      currentTimeData: 0,
    };
  },
  computed: {
    currentYear: {
      get () {
        return this.currentYearData;
      },
      set (newValue) {
        this.currentYearData = Number(newValue);
      },
    },
    currentTime: {
      get () {
        return this.currentTimeData;
      },
      set (newValue) {
        this.currentTimeData = Number(newValue);
      },
    },
  },
  watch: {
    currentTimeData() {
      processData(globalValues, this.currentTimeData, this.currentYearData);
    },
    currentYearData () {
      processData(globalValues, this.currentTimeData, this.currentYearData);
    },
  }
};
var app2 = {
  data () {
    return {
      yearData: 2009,
      hourData: 0,
      isLineShow: true,
      isAirplaneShow: true,
      isAirportShow: true,
      arrivalShow: true,
      isDelayCount: '0',
      airports: [],
      airplaneCompany: [],
      selectedDepartureAirport: null,
      selectedArrivalAirport: null,
      selectedCompany: null,
    };
  },
  created () {
    const promises = [
      d3.csv(urls.airports, typeAirport),
      d3.csv(urls.flights, typeFlight),
    ];

    Promise.all(promises).then((values) => {
      let airports = values[0];
      let flights = values[1];
      this.airports = airports;
    });
  },
  methods: {
  },
  computed: {
  },
  watch: {
    arrivalShow () {
    },
    isDelayCount () {
    },
    selectedDepartureAirport () {

    },
  },
};
Vue.createApp(app1).mount('#app1');
Vue.createApp(app2).mount('#app2');
//CHECK
</script>
</body>
</html>
